#test {
    background: rgba(0,0,0, 0.5);
    border-radius: 0 0 4px 4px;
    display: block;
    padding: 10px;
    position: absolute;
    right: 50px;
    top: 0;
}

.pane h3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 6em;
    font-weight: bold;
    padding: 0.5em 1em;
}
