#test {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #666;
  border-radius: 0 0 4px 4px;
  border-top: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  padding: 10px 15px;
  position: absolute;
  right: 50px;
  top: 0;
}
#test .num {
  border: 1px solid #444;
  border-radius: 3px;
  text-align: center;
  width: 15px;
}
.pane h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 6em;
  font-weight: bold;
  padding: 0.5em 1em;
}
.pane h3 sup {
  font-size: 0.5em;
  font-weight: normal;
}
